<div id="footer-container">
   <div id="footer-content">
      <div id="footer-logo">
         <img src="./partials/pictures/xtreme.gif" alt="extreme sport aviation">
      </div>
           <div class="imgs">
          <a href="https://www.facebook.com/XStreamSportAviation/">   <img class="img" src="./partials/pictures/facebook.png" alt="facebook"></a>
            <a href="https://www.youtube.com/channel/UC0DW1MUCIkwrAezvtX03Xig">  <img class="img" src="./partials/pictures/you-tube.jpg" alt="youtube"></a>
            <a href="https://www.instagram.com/xstream_sport_aviation/">  <img class="img" src="./partials/pictures/insta-gram.png" alt="instagram"></a>
           </div>
        </div>
     </div>
