<div id="footer-container">
   <div id="footer-content">
      <div id="footer-logo">
         <img src="./partials/pictures/xtreme.gif" alt="extreme sport aviation">
      </div>
           <div class="imgs">
              <img class="img" src="./partials/pictures/facebook.png" alt="facebook">
              <img class="img" src="./partials/pictures/you-tube.jpg" alt="youtube">
              <img class="img" src="./partials/pictures/insta-gram.png" alt="instagram">
           </div>
        </div>
     </div>
