<link href="./partials/menu.css" rel='stylesheet'>

<div id="menuCollapsed">
<div id="shrunkMenu">MENU</div>
</div>
<div style="display:flex;text-align:center;flex-direction:row">
<nav class="mainMenu" >


    <ul class="mainMenu">
      <li><a href="home">Home</a></li>
      <li><a href="intro-to-flight">Intro To Flight</a></li>
      <li><a href="flight-training">Flight Training</a></li>
      <li><a href="our-aircraft">Our Aircraft</a></li>
      <li><a href="locations">Locations</a></li>
      <li><a href="about-us">About Us</a></li>
      <li><a href="contact-us">Contact Us</li>
    </ul>

</nav>
</div>

<nav class="smallMainMenu" id="closed">


    <ul class="smallMainMenu">
      <li><a href="home">Home</a></li>
      <li><a href="intro-to-flight">Intro To Flight</a></li>
      <li><a href="flight-training">Flight Training</a></li>
      <li><a href="our-aircraft">Our Aircraft</a></li>
      <li><a href="rotax-service">Rotax Service</a></li>
      <li><a href="about-us">About Us</a></li>
      <li><a href="contact-us">Contact Us</li>
      <li><a href="locations">Locations</a></li>

    </ul>

</nav>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script type="text/javascript">

    $('#menuCollapsed').on('click',function(){
      $("#closed").toggle()
      $(".background").css('top','130px')
      $("#menuCollapsed").hide()
  })
    </script>
