<link href="./partials/menu.css" rel='stylesheet'>

<div id="menuCollapsed">
<div id="shrunkMenu">MENU</div>
</div>
<div style="display:flex;text-align:center;flex-direction:row">
<nav class="mainMenu">


    <ul class="mainMenu">
      <li class="mainMenu"><a href="home">Home</a></li>
      <li class="mainMenu"><a href="intro-to-flight">Intro To Flight</a>

        <ul>
        <li><a href="packages">Rates</a></li>
        <li> <a href="heroes-discount">Heroes Discount</a></li>

        </ul>
      </li>
      <li class="mainMenu"><a  href="flight-training">Flight Training</a>
        <ul>
        <li><a href="rates">Rates</a></li>
        <li><a href="success-achievement">Success and Achievements</a></li>
        <li> <a href="ground-school">Ground School</a></li>
        <li><a href="licenseRating">License Rating</a></li>
        <li><a href="pilot-supply-kit">Pilot Supply Kit</a></li>
        <li><a href="rentals">Rentals</a></li>
        <li><a href="student-resources">Student Resources</a></li>
      </ul>
      </li>
      <li class="mainMenu"><a  href="our-aircraft">Our Aircraft</a>
        <ul>
        <li><a href="for-sale">For Sale</a></li>
        </ul>
      </li>
      <li class="mainMenu"><a  href="rotax-service">Rotax Service</a></li>
      <li class="mainMenu"><a  href="about-us">About Us</a>
        <ul>
        <li><a href="services">Rates</a></li>
        <li><a href="locations">Success and Achievements</a></li>
        <li> <a href="local-attractions">Ground School</a></li>

      </ul></li>
      <li class="mainMenu"><a  href="contact-us">Contact Us</a></li>
    </ul>

</nav>
</div>
<div style="display:flex;text-align:center;flex-direction:column">
<nav class="smallMainMenu" id="closed">


    <ul class="smallMainMenu">
      <li class="menu"><a href="home">Home</a></li>
      <li class="menu"><a href="intro-to-flight">Intro To Flight</a></li>
      <li class="menu"><a href="flight-training">Flight Training</a></li>
      <li class="menu"><a href="our-aircraft">Our Aircraft</a></li>
      <li class="menu"><a href="rotax-service">Rotax Service</a></li>
      <li class="menu"><a href="about-us">About Us</a></li>
      <li class="menu"><a href="contact-us">Contact Us</a></li>

    </ul>
</div>
</nav>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script type="text/javascript">

    $('#menuCollapsed').on('click',function(){
      $("#closed").toggle()
      $(".background").css('top','130px')
      $("#menuCollapsed").hide()
  })
    </script>
