<link href="./partials/menu.css" rel='stylesheet'>

<div id="menuCollapsed">
<div id="shrunkMenu">MENU</div>
</div>
<div style="display:flex;text-align:center;flex-direction:row">
<nav class="mainMenuContainer">


    <ul class="mainMenu">
      <li class="nav-menu"><a href="home">Home</a></li>
      <li class="subMenu"><a href="intro-to-flight">Intro To Flight</a>

        <ul class="sub">
        <li class="nav-menu"><a href="packages">Rates</a></li><br>
        <li class="nav-menu"> <a href="heroes-discount">Heroes Discount</a></li>
  </li>
        </ul>

      <li class="subMenu"><a  href="flight-training">Flight Training</a>
        <ul class="sub">
        <li class="nav-menu"><a href="rates">Rates</a></li><br>
        <li class="nav-menu"><a href="success-achievement">Success and Achievements</a></li><br>
        <li class="nav-menu"> <a href="ground-school">Ground School</a></li><br>
        <li class="nav-menu"><a href="licenseRating">License Rating</a></li><br>
        <li class="nav-menu"><a href="pilot-supply-kit">Pilot Supply Kit</a></li><br>
        <li class="nav-menu"><a href="rentals">Rentals</a></li><br>
        <li class="nav-menu"><a href="student-resources">Student Resources</a></li><br>
      </ul>
      </li>
      <li class="subMenu"><a  href="our-aircraft">Our Aircraft</a>
        <ul class="sub"><br>
        <li class="nav-menu"><a href="for-sale">For Sale</a></li><br>
        </ul>
      </li>
      <li class="nav-menu"><a  href="rotax-service">Rotax Service</a></li>
      <li class="subMenu"><a  href="about-us">About Us</a>
        <ul class="sub">
        <li class="nav-menu"><a href="services">Rates</a></li><br>
        <li class="nav-menu"><a href="locations">Success and Achievements</a></li><br>
        <li class="nav-menu"> <a href="local-attractions">Ground School</a></li><br>

      </ul></li>
      <li class="class="nav-menu""><a  href="contact-us">Contact Us</a></li>
    </ul>

</nav>
</div>
<div style="display:flex;text-align:center;flex-direction:column">
<nav class="smallMainMenuContainer" id="closed">


    <ul class="smallMainMenu">
      <li class="menu"><a href="home">Home</a></li>
      <li class="menuMenu"><a href="intro-to-flight">Intro To Flight</a>
        <ul class="drop-down">
        <li><a href="packages">Rates</a></li>
        <li> <a href="heroes-discount">Heroes Discount</a></li>
        </ul>
      </li>
      <li class="menuMenu"><a href="flight-training">Flight Training</a>
        <ul class="drop-down">
        <li><a href="rates">Rates</a></li>
        <li><a href="success-achievement">Success and Achievements</a></li>
        <li> <a href="ground-school">Ground School</a></li>
        <li><a href="licenseRating">License Rating</a></li>
        <li><a href="pilot-supply-kit">Pilot Supply Kit</a></li>
        <li><a href="rentals">Rentals</a></li>
        <li><a href="student-resources">Student Resources</a></li>
      </ul>
      </li>
      <li class="menuMenu"><a href="our-aircraft">Our Aircraft</a>
        <ul class="drop-down">
        <li><a href="for-sale">For Sale</a></li>
        </ul>
      </li>
      <li class="menu"><a href="rotax-service">Rotax Service</a></li>
      <li class="menuMenu"><a href="about-us">About Us</a><ul class="drop-down">
        <li><a href="services">Rates</a></li>
        <li><a href="locations">Success and Achievements</a></li>
        <li> <a href="local-attractions">Ground School</a></li>

      </ul>
      </li>
      <li class="menu"><a href="contact-us">Contact Us</a></li>

    </ul>
</div>
</nav>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.js"></script>

    <script type="text/javascript">

    $('#menuCollapsed').on('click',function(){
      $("#closed").toggle()
      $(".background").css('top','130px')
      $("#menuCollapsed").hide()
  })
var mainMenuContainer = document.getElementsByClassName('mainMenuContainer')
var menuItem = document.getElementsByClassName("subMenu")
var mainMenu = document.getElementsByClassName("menuMenu")
var smallMainMenu = document.getElementsByClassName("smallMainMenu")
var menuMenu = document.getElementsByClassName("menuMenu")
mainMenu.style = "color:silver"
  $(menuItem).hover( function(){
    $(this).children().css('display', 'flex');
    $(this).children().animate({opacity: 1}, 5000)
  })
  $(mainMenu).hover(function(){
    $(this).children().css('display', 'flex');
    $(this).children().animate({opacity: 1}, 5000)
  })
    </script>
