<div id="topContainer">
<h1 class="page-heading">XStream Sport Aviation</h1>
<!-- <img src="./partials/pictures/littleLogo.gif" style="height:1%" alt=""> -->
<div style="display:flex;padding:.33em; margin:0 auto;align-items:wrap; justify-content:flex-end">
<a style="flex:1; margin:0 auto; padding: 9px;" href="https://www.facebook.com/XStreamSportAviation/">   <img class="img" src="./partials/pictures/fb.png" alt="facebook"></a>
 <a style="flex:1; margin:0 auto; padding: 9px;" href="https://www.youtube.com/channel/UC0DW1MUCIkwrAezvtX03Xig">  <img class="img" src="./partials/pictures/u-tube.jpeg" alt="youtube"></a>
 <a style="flex:1; margin:0 auto; padding: 9px;" href="https://www.instagram.com/xstream_sport_aviation/">  <img class="img" src="./partials/pictures/ig-icon.png" alt="instagram"></a>
</div>
</div>
