<div style="display:flex;flex-direction:row;color:#1d206d;font-family:bazooka;">
<h1 style="font-weight:bolder;font-style:font-size:3.1em;padding:.33em">Extreme Sport Aviation</h1>
<div style="display:flex;padding:.33em; margin:0 auto;align-items:wrap; justify-content:flex-end">
<a style="flex:1; margin:0 auto; padding: 9px;" href="https://www.facebook.com/XStreamSportAviation/">   <img class="img" src="./partials/pictures/fb.png" alt="facebook"></a>
 <a style="flex:1; margin:0 auto; padding: 9px;" href="https://www.youtube.com/channel/UC0DW1MUCIkwrAezvtX03Xig">  <img class="img" src="./partials/pictures/u-tube.jpeg" alt="youtube"></a>
 <a style="flex:1; margin:0 auto; padding: 9px;" href="https://www.instagram.com/xstream_sport_aviation/">  <img class="img" src="./partials/pictures/ig-icon.png" alt="instagram"></a>
</div>
</div>
