<div id="topContainer">
<h1 class="page-heading" style="font-size:2.5rem;z-index:2; padding:8px">XStream Sport Aviation</h1>

<!-- <img src="./partials/pictures/littleLogo.gif" style="height:1%" alt=""> -->
<div style="display:flex;padding:.33em;width:100%; margin:0 auto;align-items:wrap; justify-content:flex-end">
<a style="z-index:2;flex:1; position: relative; margin-right:70%; margin:0 auto; padding: 9px;" href="https://www.facebook.com/XStreamSportAviation/">   <img class="img" src="./partials/pictures/fb.png" alt="facebook"></a>
 <a style="z-index:2;flex:1; position: relative; margin-right:80%;margin:0 auto; padding: 9px;" href="https://www.youtube.com/channel/UC0DW1MUCIkwrAezvtX03Xig">  <img class="img" src="./partials/pictures/u-tube.jpeg" alt="youtube"></a>
 <a style="z-index:2;flex:1; position: relative; margin-right:90%; margin:0 auto; padding: 9px;" href="https://www.instagram.com/xstream_sport_aviation/">  <img class="img" src="./partials/pictures/ig-icon.png" alt="instagram"></a>
  <img style="position:absolute; width:100%; height:1000px"src="./partials/pictures/home22.gif" alt="">
</div>
</div>
