<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
    <%- include partials/_mobile %>

  </head>
  <body>
    <div class="site-container">
        <%- include partials/_menu %>
<div class="child-container">
  <h1 class="page-heading">About Us</h1>
<h2 class="power-point">
Our Mission
</h2>
<p>
To provide students with the skills and knowledge to be safe and effective pilots in a relaxed and fun environment using state of the art planes and technology.
</p>
<ul>
  <span class="power-point">
Our Goals</span>
<li>Provide students with all of the resources to complete their license ratings.
<li>Provide one on one instruction to help navigate through all of the facets of being a licensed pilot.
<li>Graduate safe pilots who we will be proud to share the skies with.
</ul>
</div>
<div class="child-container">
    <h1 class="power-point">ABOUT US</h1>
<img src="./partials/pictures/bill.webp" alt="Bill Dykie">
<p class="literature"><strong>Bill Dykie</strong><br>

I started XStream Sport Aviation because I am passionate about aviation and wanted to bring this amazing sport to anyone that dreams it.  I began flying over 25 years ago and became a flight instructor so I can share my passion for flying with others.  <span class="power-point">The safety of my students and instructors is my first priority.</span> At XStream we believe that students deserve to have access to modern aircraft that are meticulously maintained. I wanted to create a flight school where students can learn on state of the art equipment and have the option to train on analog or glass technology. <span class="power-point">We do not cut any corners.</span> When you book an hour, you get an hour in air time. <span class="power-point">When we service our planes we only use the best supplies and parts</span>. We won’t shortchange you or cheat you in any way. We are a business run by pilots for pilots. We respect aviation and we respect you.

 I found that many of my sporting enthusiasts friends felt that flying is unattainable due to cost or intimidating because of all of the jargon and lingo. I want people to know that aviation is just as attainable as snowmobiling or golf or boating.

The light sport category (AULA) has grown so much and you will be surprised by the quality and caliber of aircraft you can fly.  When you compare what is available for training between light sport (AULA) and the GA (certified) you will find the planes are on average 15 years newer with far advanced tech. I also found that most people don’t know that if you really want a private pilot license, obtaining a light sport (AULA) rating first will allow you to obtain your ppl for a fraction of the cost.

So that’s what XStream is about. Hope you join us!

Respectfully,

<span class="message">
Bill Dykie
</span>
CEO
</p>
​</div>
</div>

  </body>
</html>
