<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Flight Training</title>
    <%- include partials/_mobile %>
    <%- include partials/_menu %>
  </head>
  <body>
    <div class="site-container">
      <div class="child-container">
      <h1 class="page-heading">
    How to get your license
  </h1>
  <ul>  <span class="message">XStream Sport Aviation staff will help you every step of the way as you prepare to earn your pilot license.</span> <span class="power-point">Here is an overview of the steps to getting your pilot license for ultralight certification.</span>
  <li class="listed">  » Xstream Sport Aviation offers full service to obtain Pilot Permit - Ultra-light*, Passenger carrying rating** and Ultra-light         instructor rating including application for Transport Canada.</li>
  <li class="listed">  » Students have to apply for Medical Certificate Category 4</li>
  <li class="listed">  » Students can start with practicable part anytime, Ground School for PP-UL is in class and dates are posted regularly.</li>
  <li class="listed"> » There is no age limit to start with the flight training. The only limit is for solo flight -14 years of age and student obtain
             their Pilot Permit at 16 years of age.</li>
             <li class="adds"> » The length of flight training depends on student’s learning abilities.</li>
</ul>


</div>
<div class="child-container">
<ul>
  <span class="list-heading">Steps necessary to get your license</span>


<li class="listed">
Must be a minimum of 14 years old to start your training
</li>

<li class="listed">
Must be a minimum of 16 to receive your license
</li>

<li class="listed">
Obtain a category 4 medical exam. This is a self-declaration and no aviation doctor visit is required.
</li>

<li class="listed">
Complete the ground school. This is a 30 hour course that you can complete with us at XStream.
</li>


<a class="listed">Click here for upcoming dates</a>
</ul>
   </div>

   <div class="child-container">
     <ul >
       <span class="list-heading">
 Under the direction and supervision of your flight instructor, complete a minimum of 10 hours of total flight time, including: a minimum of five hours dual instruction flight time and two hours solo flight time, and a minimum of 30 takeoffs and landings, including a minimum of 10 as sole occupant (Solo).
</span>
<li class="listed">
Achieve a minimum of 90% on the written (PSTAR) exam.
</li>
<li class="listed">
Once you pass your PSTAR exam we will issue you a student pilot permit.
</li>
<li class="listed">
Before receiving a permit a student pilot may only practice dual instruction with an instructor.
</li>
<li class="listed">
With a permit, a student pilot may fly solo under the supervision of a flight instructor and for purposes of flight training only. Only domestic day flying under visual flight rules (VFR) is allowed under this permit and no passengers may be carried
</li>
<ul class="added">
  <li class="listed">
*You must have your student pilot permit in order to take your first solo flight.
</li>
<li class="listed">
Once you have met all of the requirements and your instructor is convinced that you are the safest, most proficient & knowledgeable pilot that you can be, XStream will provide you with a competency letter.  The competency letter is necessary to write your final exam (ULTRA) with Transport Canada.  You must obtain a minimum of 60% on the written examination Pilot Permit - (ULTRA).  XStream will help you arrange this exam with Transport Canada.
</li>
<span class="power-point"><strong>That's it... Congratulations!  Welcome to the exclusive club of licensed aviators</strong></span>
<li class="added">
**The ultra-light pilot permit allows the holder to fly an ultra-light aircraft in accordance with day VFR. A passenger may not      be carried without a passenger carrying endorsement.
</li>
<li class="added">
**advanced ultra-light airplanes are allowed to carry one passenger, if the pilot has an ultra-light pilot permit endorsed with     passenger carrying rating.The passenger-carrying—ultra-light airplane rating applies only to the ultra-light pilot permit.         Pilots with a recreational pilot permit—airplane and higher airplane licences are allowed to carry passengers in an aircraft     that is authorized for passenger-carrying.
</li>
</div>





  </div>

  </body>
</html>
