<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>For Sale</title>
    <%- include partials/_mobile %>

  </head>
  <body>
    <%- include partials/_menu %>
    <div class="site-container">

      <div class="child-container">
        <h1 class="page-heading">FOR SALE</h1>

<ul><span class="list-heading">Kitfox IV advanced ultralight</span>
​<li class="listed">
Hours - 97
</li><li class="listed">
Engine - Rotax 912. 80 HP
</li><li class="listed">
Manufacture - Kitfox IV
</li><li class="listed">
Condition - Excellent
</li><li class="listed">
Extras - Full lotus floats, folding wings, kitfox upholstery/seats
</li><li class="listed">
Location - Innisfil, ON
</li>
</ul>
<p class="power-point">
Price<span class="number"> $46,000.00 CDN</span>​</p>
      </div>
      <div class="gallery">
      <img class="serviceGallery" src="./partials/pictures/sale.webp" alt="plane-sale">
      <img class="serviceGallery" src="./partials/pictures/sales.webp" alt="plane-sale">
      <img class="serviceGallery" src="./partials/pictures/sale2.webp" alt="plane-sale">
      <img class="serviceGallery" src="./partials/pictures/sale3.webp" alt="plane-sale">
      <div class="footer-container"></div>

      </div>
        <%- include partials/_footer %>
    </div>

  </body>
</html>
