<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>For Sale</title>
    <%- include partials/_mobile %>
    <%- include partials/_menu %>
  </head>
  <body>
    <div class="site-container">
      <div class="child-container">
        <h1 class="page-heading">FOR SALE</h1>

<ul><span class="list-heading">Kitfox IV advanced ultralight</span>
​<li class="listed">
Hours - 97
</li><li class="listed">
Engine - Rotax 912. 80 HP
</li><li class="listed">
Manufacture - Kitfox IV
</li><li class="listed">
Condition - Excellent
</li><li class="listed">
Extras - Full lotus floats, folding wings, kitfox upholstery/seats
</li><li class="listed">
Location - Innisfil, ON
</li>
</ul>
Price $46,000.00 CDN​
      </div>

    </div>
  </body>
</html>
