<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact Us</title>
    <%- include partials/_mobile %>

  </head>
  <body>
    <%- include partials/_menu %>
    <div class="site-container">

      <div class="child-container">
        <h1 class="page-heading">Gallery</h1>
        <div class="gallery">
        <a  href="./partials/pictures/home.webp">  <img class="serviceGallery" src="./partials/pictures/home.webp" alt="pick-up-plane"></a>
      <a  href="./partials/pictures/home2.webp">    <img class="serviceGallery" src="./partials/pictures/home2.webp" alt="pick-up-plane"> </a>
      <a href="./partials/pictures/home3.webp">    <img class="serviceGallery" src="./partials/pictures/home3.webp" alt="pick-up-plane"></a>
    <a href="./partials/pictures/home4.webp">      <img class="serviceGallery" src="./partials/pictures/home4.webp" alt="pick-up-plane"></a>
    <a href="./partials/pictures/home5.webp">      <img class="serviceGallery" src="./partials/pictures/home5.webp" alt="pick-up-plane"></a>
    <a href="./partials/pictures/home6.webp">      <img class="serviceGallery" src="./partials/pictures/home6.webp" alt="pick-up-plane"></a>
    <a href="./partials/pictures/home7.webp">      <img class="serviceGallery" src="./partials/pictures/home7.webp" alt="pick-up-plane"></a>
    <a href="./partials/pictures/home8.webp">      <img class="serviceGallery" src="./partials/pictures/home8.webp" alt="pick-up-plane"></a>
    <a href="./partials/pictures/home9.webp">      <img class="serviceGallery" src="./partials/pictures/home9.webp" alt="pick-up-plane"></a>
    <a href="./partials/pictures/home10.webp">      <img class="serviceGallery" src="./partials/pictures/home10.webp" alt="pick-up-plane"></a>
    <a href="./partials/pictures/home11.webp">      <img class="serviceGallery" src="./partials/pictures/home11.webp" alt="pick-up-plane"></a>
    <a href="./partials/pictures/home12.webp">      <img class="serviceGallery" src="./partials/pictures/home12.webp" alt="pick-up-plane"></a>
    <a href="./partials/pictures/home13.webp">      <img class="serviceGallery" src="./partials/pictures/home13.webp" alt="pick-up-plane"></a>
    <a href="./partials/pictures/home14.webp">      <img class="serviceGallery" src="./partials/pictures/home14.webp" alt="pick-up-plane"></a>
    <a href="./partials/pictures/home15.webp">      <img class="serviceGallery" src="./partials/pictures/home15.webp" alt="pick-up-plane"></a>
    <a href="./partials/pictures/home16.webp">      <img class="serviceGallery" src="./partials/pictures/home16.webp" alt="pick-up-plane"></a>
    <a href="./partials/pictures/home17.webp">      <img class="serviceGallery" src="./partials/pictures/home17.webp" alt="pick-up-plane"></a>
    <a href="./partials/pictures/home18.webp">      <img class="serviceGallery" src="./partials/pictures/home18.webp" alt="pick-up-plane"></a>
    <a href="./partials/pictures/home19.webp">      <img class="serviceGallery" src="./partials/pictures/home19.gif" alt="pick-up-plane"></a>
    <a href="./partials/pictures/20.webp">      <img class="serviceGallery" src="./partials/pictures/home20.webp" alt="pick-up-plane"></a>
  <a href="./partials/pictures/home22.webp">        <img class="serviceGallery" src="./partials/pictures/home22.webp" alt="pick-up-plane"></a>
    <a href="./partials/pictures/home23.webp">      <img class="serviceGallery" src="./partials/pictures/home23.webp" alt="pick-up-plane"></a>
    <a href="./partials/pictures/home24.webp">      <img class="serviceGallery" src="./partials/pictures/home24.webp" alt="pick-up-plane"></a>
  <a href="./partials/pictures/home25.webp">        <img class="serviceGallery" src="./partials/pictures/home25.webp" alt="pick-up-plane"></a>
    <a href="./partials/pictures/home26.webp">      <img class="serviceGallery" src="./partials/pictures/home26.webp" alt="pick-up-plane"></a>
    <a href="./partials/pictures/home27.webp">      <img class="serviceGallery" src="./partials/pictures/home27.webp" alt="pick-up-plane"></a>
    <a href="./partials/pictures/home29.webp">      <img class="serviceGallery" src="./partials/pictures/home29.webp" alt="pick-up-plane"></a>
    <a href="./partials/pictures/home30.webp">      <img class="serviceGallery" src="./partials/pictures/home30.webp" alt="pick-up-plane"></a>
    <a href="./partials/pictures/home31.webp">      <img class="serviceGallery" src="./partials/pictures/home31.webp" alt="pick-up-plane"></a>
  <a href="./partials/pictures/home32.webp">        <img class="serviceGallery" src="./partials/pictures/home32.webp" alt="pick-up-plane"></a>
        </div>
      </div>
      <div class="footer-container">
        <%- include partials/_footer %>
      </div>
    </div>

  </body>
</html>
