<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact Us</title>
    <%- include partials/_mobile %>
<%- include partials/_bootStrap %>
  </head>
  <body>
    <%- include partials/_menu %>
    <div class="site-container">

      <div class="child-container">
        <h1 class="page-heading">Gallery</h1>
        <div class="gallery">
        <a class="serviceGallery" href="./partials/pictures/home.jpg">  <img  src="./partials/pictures/home.jpg" alt="pick-up-plane"></a>
      <a class="serviceGallery"  href="./partials/pictures/home2.jpg">    <img src="./partials/pictures/home2.jpg" alt="pick-up-plane"> </a>
      <a class="serviceGallery" href="./partials/pictures/home3.jpg">    <img  src="./partials/pictures/home3.jpg" alt="pick-up-plane"></a>
    <a class="serviceGallery" href="./partials/pictures/home4.jpg">      <img  src="./partials/pictures/home4.jpg" alt="pick-up-plane"></a>
    <a class="serviceGallery" href="./partials/pictures/home5.jpeg">      <img  src="./partials/pictures/home5.jpeg" alt="pick-up-plane"></a>
    <a class="serviceGallery" href="./partials/pictures/home6.jpeg">      <img src="./partials/pictures/home6.jpeg" alt="pick-up-plane"></a>
    <a class="serviceGallery" href="./partials/pictures/home7.jpg">      <img src="./partials/pictures/home7.jpg" alt="pick-up-plane"></a>
    <a class="serviceGallery" href="./partials/pictures/home8.jpg">      <img src="./partials/pictures/home8.jpg" alt="pick-up-plane"></a>
    <a class="serviceGallery" href="./partials/pictures/home9.jpeg">      <img src="./partials/pictures/home9.jpeg" alt="pick-up-plane"></a>
    <a class="serviceGallery" href="./partials/pictures/home10.jpg">      <img src="./partials/pictures/home10.jpg" alt="pick-up-plane"></a>
    <a class="serviceGallery" href="./partials/pictures/home11.jpg">      <img src="./partials/pictures/home11.jpg" alt="pick-up-plane"></a>
    <a class="serviceGallery" href="./partials/pictures/home12.jpg">      <img src="./partials/pictures/home12.jpg" alt="pick-up-plane"></a>
    <a class="serviceGallery" href="./partials/pictures/home13.jpg">      <img src="./partials/pictures/home13.jpg" alt="pick-up-plane"></a>
    <a class="serviceGallery" href="./partials/pictures/home14.jpeg">      <img src="./partials/pictures/home14.jpeg" alt="pick-up-plane"></a>
    <a class="serviceGallery" href="./partials/pictures/home15.jpeg">      <img src="./partials/pictures/home15.jpeg" alt="pick-up-plane"></a>
    <a class="serviceGallery" href="./partials/pictures/home16.jpg">      <img src="./partials/pictures/home16.jpg" alt="pick-up-plane"></a>
    <a class="serviceGallery" href="./partials/pictures/home17.jpg">      <img src="./partials/pictures/home17.jpg" alt="pick-up-plane"></a>
    <a class="serviceGallery" href="./partials/pictures/home18.jpg">      <img src="./partials/pictures/home18.jpg" alt="pick-up-plane"></a>
    <a class="serviceGallery" href="./partials/pictures/home19.jpg">      <img src="./partials/pictures/home19.jpg" alt="pick-up-plane"></a>
    <a class="serviceGallery" href="./partials/pictures/20.jpg">      <img src="./partials/pictures/home20.jpg" alt="pick-up-plane"></a>
  <a class="serviceGallery" href="./partials/pictures/home22.gif">        <img src="./partials/pictures/home22.gif" alt="pick-up-plane"></a>
    <a class="serviceGallery" href="./partials/pictures/home23.jpg">      <img src="./partials/pictures/home23.jpg" alt="pick-up-plane"></a>
    <a class="serviceGallery" href="./partials/pictures/home24.jpg">      <img src="./partials/pictures/home24.jpg" alt="pick-up-plane"></a>
  <a class="serviceGallery" href="./partials/pictures/home25.jpg">        <img src="./partials/pictures/home25.jpg" alt="pick-up-plane"></a>
    <a class="serviceGallery" href="./partials/pictures/home26.jpg">      <img src="./partials/pictures/home26.jpg" alt="pick-up-plane"></a>
    <a class="serviceGallery" href="./partials/pictures/home27.jpg">      <img src="./partials/pictures/home27.jpg" alt="pick-up-plane"></a>
    <a class="serviceGallery" href="./partials/pictures/home29.jpg">      <img src="./partials/pictures/home29.jpg" alt="pick-up-plane"></a>
    <a class="serviceGallery" href="./partials/pictures/home30.jpg">      <img src="./partials/pictures/home30.jpg" alt="pick-up-plane"></a>
    <a class="serviceGallery" href="./partials/pictures/home31.jpg">      <img src="./partials/pictures/home31.jpg" alt="pick-up-plane"></a>
  <a class="serviceGallery" href="./partials/pictures/home32.jpg">        <img  src="./partials/pictures/home32.jpg" alt="pick-up-plane"></a>
  <a class="serviceGallery" href="./partials/pictures/home33.jpg">      <img src="./partials/pictures/home33.jpg" alt="pick-up-plane"></a>
  <a class="serviceGallery" href="./partials/pictures/home34.jpg">      <img src="./partials/pictures/home34.jpg" alt="pick-up-plane"></a>

        </div>
      </div>
      <div class="footer-container">
        <%- include partials/_footer %>
      </div>
    </div>

  </body>
</html>
