<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ground School</title>
    <%- include partials/_mobile %>
    <%- include partials/_menu %>
  </head>
  <body>
    <div class="site-container">
      <div class ="child-container">
        <h1>Ground School</h1>
        <span class="message">A Good Pilot Is Always learning</span>
        <p>No aviation experience?  feeling overwhelmed?  intimidated or just in need of meeting your ground school requirements? No Problem.
        At Xstream Sport aviation we offer a 30 hr 4 day weekend (2 weekend) or a 6 day week night comprehensive, relaxed, interactive ground school course in an intimate classroom setting.  We approach the ground school requirement in a unique way.
        You chose to learn how to fly because you thought it would be fun. That's why we go to the extra effort to make sure you're engaged and having fun in every XStream course. We find better, simpler ways to explain things. We help you see patterns and relationships, so you get the big picture, for learning based on understanding, not memorization
        We have designed our course in a way that will utilize the knowledge you will learn and make it feel as if it were second nature.
        We use a variety of interactive teaching aides including props, videos, scenario based discussions, diagrams, pictures, maps and physical demonstrations. At Xstream our goal is to make sure you truly understand the fundamentals of ground school. We truly believe there is no such thing as a stupid question and welcome interaction and discussion.
        Our goal is to have you leave with a sense of satisfaction and value from our course.
        Yeah we know a twenty hour course is not as fun as firing up the grill with a beer in your hand...who wants to spend three weekend days in a classroom?  Some schools will spend your precious grilling time talking at you, talking over you or merely tell you what page to look at for the answers. At Xstream we will do our best to make it relaxed, informative and believe it or not actually fun (and we provide plenty of coffee and donuts).
        We invite you to join us for this aviation learning adventure.</p>
      </div>
      <div class="child-container">
        <ul>
          <li>Tuesday, 13th         6:00pm - 10:00pm  </li>
          <li>Wednesday, 14th    6:00pm - 10:00pm</li>
          <li>Tuesday, 20th         6:00pm - 10:00 pm</li>
          <li>Wednesday, 21st    6:00pm - 10:00 pm</li>
          <li>Tuesday, 27th         6:00pm - 10:00 pm</li>
          <li>Wednesday, 28th    6:00pm - 10:00 pm</li>
          <li>Tuesday, 4th           6:00pm - 10:00 pm</li>
          <li>Wednesday, 5th      6:00pm - 10:00 pm</li>
        </ul>
        <ul class="second-list">Price Includes
          <li>30 hours In class instruction</li>
          <li>Flight Training Manual (Text Book)</li>
          <li>Aviation Plotter PJ-1</li>
          <li>VNC Map (Toronto)</li>
  </ul>
  <ul class="third-list">*Additional Items not included  (Not Mandatory for ground school) however Available for purchase
    <li>E-6b Flight Computer</li>
    <li>Canada Flight Supplement (Current Addition)</li>
    <li>XStream Flight Bag</li>
    <li>Text book (From the Ground Up)</li>
    <li>Pilot Logbook</li>
  </ul>
      </div>
      <div class="child-container">
        <span>Call <strong>705-999-3221</strong> to book your spot</span>
        <p class="adds">
*Coffee & Donuts - Complementary
*Please come equipped with a Pen, Pencil,  Notebook (for note taking) Gov't issued Identification
</p>
      </div>
    </div>
  </body>
</html>








​

  2019 Dates

*We will announce our next ground school date when we meet our minimum of 6 person's classroom size

​

  February 5 - 27 -  2018 @ Midland/Huronia Airport (Terminal building)

  $499

​

Tuesday, 13th         6:00pm - 10:00pm

Wednesday, 14th    6:00pm - 10:00pm

Tuesday, 20th         6:00pm - 10:00 pm

Wednesday, 21st    6:00pm - 10:00 pm

Tuesday, 27th         6:00pm - 10:00 pm

Wednesday, 28th    6:00pm - 10:00 pm

Tuesday, 4th           6:00pm - 10:00 pm

Wednesday, 5th      6:00pm - 10:00 pm

​

​

Price includes

-30 hours In class instruction

-Flight Training Manual (Text Book)

-Aviation Plotter PJ-1

-VNC Map (Toronto)

​

*Additional Items not included  (Not Mandatory for ground school) however Available for purchase

- E-6b Flight Computer

-Canada Flight Supplement (Current Addition)

-XStream Flight Bag

-Text book (From the Ground Up)

-Pilot Logbook

​

  Call 705-999-3221 to book your spot

​

*Coffee & Donuts - Complementary

​

​

*Please come equipped with a Pen, Pencil,  Notebook (for note taking) Gov't issued Identification
