<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello World</title>
    <%- include partials/_mobile %>

  </head>

  <body>
    <div class="menu" style="display:flex; flex-direction:row">
      <%- include partials/_menu %>
    </div>

<div class='site-container'>

<h1 class="page-heading">Home</h1>
      <div class="child-container">

          <p class="power-point">2019 Ground school dates</p>
  <strong class="listed">*Feb 5th-Feb 27th</strong>
      </div>
<div class="child-container">
     <strong class="number">705-999-3221</strong>
</div>
        <div class="child-container">
             <p class="listed">Have you always dreamed of being a pilot, looking for adrenaline filled adventure or simply want to check something off your bucket list? Take to the skies and join us for an exciting introduction to flight.  No experience necessary! Where you get to take the controls of the plane!</p>
        </div>

  <div class="child-container">
    <h1 class="company-name">
  XStream Sport Aviation
  </h1>

<ul>  <span class="list-heading">
Why XStream?
</span>
<li class="listed">Our experienced Flight Instructors teach what you need to know in order to make you a safer, more professional pilot in the real world.</li>
<li class="listed">You will train on the most modern & advanced Light Sport (AULA) Advanced Ultralight aircraft on the market, the Evektor Sportstar Max.</li>
<li class="listed">You will experience amazing 360° views in a full bubble canopy low wing plane.</li>
<li class="listed">Gain experience on some of the most technologically advanced instruments in use today. Our planes feature dual Dynon Skyview Avionics systems (really cool digital gauges!).</li>
<li class="listed">Unlike most flight schools we also provide a fixed price for each facet of your training so you know exactly what your costs will be. if you choose.</li>
<li class="listed">Situated at Edenvale Aerodrome Hangar K5 & Huronia (Midland) airport the delays are minimum which means more flight time not ground time and your dollar goes further.</li>
<li>All our training is one on one which means you as a student can go at your own pace.</li>
</ul>
</div>
<div class="child-container">
<h2 class="power-point">Our Mission</h2>
<p class="listed">To provide students with the skills and knowledge to be safe and effective pilots in a relaxed and fun environment using state of the art planes and technology.</p>
</div>
<div class="child-container">
  <ul><h2 class="power-point">
Our Goals
</h2>
<li class="listed">
Provide students with all of the resources to complete their license ratings.
</li><li class="listed">
Provide one on one instruction to help navigate through all of the facets of being a licensed pilot.
</li>
<li class="listed">
Graduate safe pilots who we will be proud to share the skies with.
</li>


</ul>

</div>
<iframe width="958" height="554" src="https://www.youtube.com/embed/S2kQ8VsY72c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<section class="child-container">
<h2 class="power-point">Introductory Flight<br>Gift Certificates</h2>
<ul><h3>Introductory Flight Lessons / You get to Fly the Plane!</h3>
  <h4>No Experience Necessary</h4>
  <li class="added">(Air Time)</li>
  <li class="listed">1/2 HOUR - <span class="number">$89.00*</span></li>
  <li class="listed">FULL HOUR - <span class="number">$169.00*</span> <span class="added">Most Popular</span></li>
</ul>
<span><a href="packages">Great Offer</a>
</section>

<section class="child-container">
<ul>
  <h1>All Bookings must be Confirmed by Phone or in Person</h1><span class="number">705-999-3221</span>
  <li class="listed">Maximum Weight - 280lbs</li>
  <li class="listed">Maximum Height - 6'3</li>
  <li class="listed">Minimum Age - 14</li>
</ul>
<h2 class="power-point">Additional Ad-Ons Available(Call For Details)</h2>
<span><a href="packages">Great Offer</a>
</section>
<section class="child-container">
  <h1 class="power-point">- Video</h1>
  <p>(We would be happy to video record & produce your flight experience for you, 2 video camera)<span class="number">$85</span><br> We use GoPro Video Cameras in our airplane (Class 10 Micro SD Card)</p>
  <h1 class="power-point">- Chart your own course</h1>
  <p>(Choose the direction & destination of your flight experience)<span class="number">$25</span></p>
  <h1 class="power-point">- T-Shirts</h1>
  <p>(Available for purchase at our Edenvale Location)<span class="number">$25</span></p>
</section>
<section class="child-container">
  <h1 class="power-point">Your First Step Towards Becoming a Pilot</h1>
<p class="literature">
So you’ve decided you’d like to get a Pilot License or just try out a flight to see if you like it, but what is the next step?  An Introductory Flight Lesson, of course!  The “Intro Flight” begins with  ground briefing, followed by a in-flight instruction.

Your Certified Flight Instructor will begin your lesson by explaining the basics of aircraft design, the fundamentals of flight, aircraft safety, and pre-flight inspection. <br>

After the ground portion of your flight lesson is complete, student and instructor will board the aircraft and take to the sky.  You’re allowed to do as much of the flying as you’d like, beginning with taxiing, takeoff, cruise, maneuvers, and even landing!

Soaring high above Wasaga Beach and Georgain bay area is a life changing experience, especially when you’re at the controls of a plane!  Don’t worry, all of our training aircraft have dual controls, which means your highly trained, experienced flight Instructor is with you every step of the way! <br>

An added bonus: the flight time during the Introductory Flight can be logged towards a  Pilot license!

An introductory Flight Lesson is the perfect way for you - or a loved one - to begin your journey towards becoming a pilot!
</p>
<br>
<span class="added">
Note* Your purchase is for time spent in the air (not wasted on the ground). When budgeting your time add approximately 15 minutes to your purchased flight time for your safety briefing. Please phone us at 705-999-3221 to arrange your flight time and date.  Keep in mind safety is our biggest priority.  Unsafe weather conditions (high winds, thunderstorms, heavy rain & Snow) may impact your booking time, We will do our best to work within your schedule. Summer months tend to be busier. If booking online please allow 1-10 days to redeem your intro to flight *Cancellations & Postponements-Please notify us by phone or email, 24hrs prior to your booking time .  Flight time Purchased is valid for 120 days.  Non refundable
</span>
</section>
<div class="footer-container">
  <%- include partials/_footer %>
</div>
</div>

  </body>
</html>
