<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello World</title>
    <%- include partials/_mobile %>
    <%- include partials/_menu %>
  </head>
  <body>
<div class='site-container'>

      <div class="child-container">
        <h1 class="page-heading">Home</h1>
           <span class="power-point">2019 Ground school dates</span>
  <strong class="listed">*Feb 5th-Feb 27th</strong>
      </div>
<div class="child-container">
     <strong class="number">705-999-3221</strong>
</div>
        <div class="child-container">
             <span class="listed">Have you always dreamed of being a pilot, looking for adrenaline filled adventure or simply want to check something off your bucket list? Take to the skies and join us for an exciting introduction to flight.  No experience necessary! Where you get to take the controls of the plane!</span>
        </div>

  <div class="child-container">
    <h1 class="company-name">
  XStream Sport Aviation
  </h1>

<ul>  <span class="list-heading">
Why XStream?
</span>
<li class="listed">Our experienced Flight Instructors teach what you need to know in order to make you a safer, more professional pilot in the real world.</li>
<li class="listed">You will train on the most modern & advanced Light Sport (AULA) Advanced Ultralight aircraft on the market, the Evektor Sportstar Max.</li>
<li class="listed">You will experience amazing 360° views in a full bubble canopy low wing plane.</li>
<li class="listed">Gain experience on some of the most technologically advanced instruments in use today. Our planes feature dual Dynon Skyview Avionics systems (really cool digital gauges!).</li>
<li class="listed">Unlike most flight schools we also provide a fixed price for each facet of your training so you know exactly what your costs will be. if you choose.</li>
<li class="listed">Situated at Edenvale Aerodrome Hangar K5 & Huronia (Midland) airport the delays are minimum which means more flight time not ground time and your dollar goes further.</li>
<li>All our training is one on one which means you as a student can go at your own pace.</li>
</ul>
</div>
<div class="child-container">
<h2 class="power-point">Our Mission</h2>
<span>To provide students with the skills and knowledge to be safe and effective pilots in a relaxed and fun environment using state of the art planes and technology.</span>
</div>
<div class="child-container">
  <ul><h2 class="power-point">
Our Goals
</h2>
<li class="listed">
Provide students with all of the resources to complete their license ratings.
</li><li class="listed">
Provide one on one instruction to help navigate through all of the facets of being a licensed pilot.
</li>
<li class="listed">
Graduate safe pilots who we will be proud to share the skies with.
</li>
<li><iframe width="958" height="554" src="https://www.youtube.com/embed/S2kQ8VsY72c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</li>

</ul>
</div>
<div class="child-container">

</div>
</div>
  </body>
</html>
