<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>License Rating</title>
    <%- include partials/_mobile %>
    <%- include partials/_menu %>
  </head>
  <body>
    <div class="site-container">
      <div class="child-container">
<h1 class="page-heading">RATINGS</h1>

<ul><h2 class="list-heading">List of ratings training offered by XStream</h2>



<span class="power-point">XStream Sport Aviation staff will help you every step of the way as you prepare to earn your pilot license & Ratings.</span>



<li class="listed"><span class="power-point">Pilot Permit UL-P
<p class="literature">
Pilot permit UL-P the easiest and least expensive of all the flight permits and licenses to acquire. This course is made easy by the relaxed atmosphere, scheduling and minimum requirements set forth by Transport Canada.  The minimum number of flight hours for the PP-UL is 10, with 5 dual and 2 solo (CARs 421.21). The actual flight time averages 15 to 20 hours depending on the student’s apti-tude and on the handling characteristics of the training aircraft. The flight instruction parallels the conventional course and starts with aircraft familiarization and progresses through attitudes, turns, stalls, and take-offs, circuits and landings. There is training for emergencies and forced approaches. When students are competent to safely operate the training aircraft alone, they go solo. After the required flight time is completed, their logbooks are signed and a skill letter is sent to Transport Canada along with the license application.

The skill letter states: "the applicant has demonstrated, in flight and on the ground, famili-arity with, and the ability to perform, both normal and emergency manoeuvres and proce-dures appropriate to the ultralight aeroplane used for the training program with a degree of competency appropriate to that of a pilot permit-ultralight aeroplane."
</p>
​<a class="adds" href="flight-training">Steps to getting your license.</a>
</li>

<li class="listed">
<span class="power-point">Passenger Carry Rating</span>

<p class="literature">
Passenger Carrying Rating – AULA – Now that you have your PP-UL permit, you’re going to want to share it with someone in your life.  To carry a passenger, you are required to complete additional flight training and a flight test.  This course will enhance your current capabilities and prepare you for these Transport Canada requirements.  You can expect an additional 4 hours of dual instruction in this phase of your flight training.
</p>
</li>



<li class="listed">

<span class="power-point">Advanced and Recurrency</span>
<p class="literature">
Been away from the cockpit for a bit? Don’t feel that you have a complete grasp on one particular aspect of flying?  We will create a custom training regime to fit your particular needs, anything from a quick once or twice around the circuit, to an intense re-training program, just let us know what you need and we’ll get you going.
</p>
</li>



<li class="listed">
  <span class="power-point">
Conventional (PPL) Pilot checkout
</span>
<p class="literature">
Have a PPL licence already, but have been thinking of flying Light Sport (advanced ultralights)? It’s not as easy as “hopping in and learning as you go”. Light Sport Aircraft (advanced ultralights) can fly differently than the heavier plane you may have learned on. We use different engines that have their own unique requirements, and you need to learn how to fly in a different flight envelope than you may be used to. Many pilots aren’t used to knowing as much about their plane and engine as an  Light Sport (advanced ultrlight) pilot does, and we’ll take you through that learning curve using your existing knowledge as a starting point. Once you try it, we’re confident that you’ll love it. Transport Canada has a clearly defined set of requirements layed out for the transition of pilots from certified aircraft to Light Sport (advanced ultralight), and we’ll take you through those steps.
</p>
</li>


<li class="listed">
  <span class="power-point">
Instructor Rating
</span>
<p class="literature">
Do you feel that you want to impart the joy of flying to others? As more and more folks learn how much fun it is to fly, and how inexpensive flying a Light Sport (basic or advanced ultralight) can be, they are needing qualified flight instructor to teach them how to take to the air. We’ve put together a top-notch flight instructor course that involves both groundschool and flight training that will get you to the level you need to pass down your piloting skill to the fresh pilot of tomorrow.
</p>
</li>

      </div>
    </div>
  </body>
</html>
