<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Locations</title>
    <%- include partials/_mobile %>

  </head>
  <body>
    <div class="site-container">
      <%- include partials/_menu %>
      <div class="footer-container">
        <%- include partials/_footer %>
      </div>
    </div>
  </body>
</html>
