<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Local Attractions</title>
    <%- include partials/_mobile %>
<%- include partials/_bootStrap %>
  </head>
  <body>
    <%- include partials/_menu %>
    <div class="site-container">
      <div class="child-container">
<ul class="vertGallery">
      <div>
        <h1 class="page-heading" style="padding:10px;">LOCAL ATTRACTIONS</h1>

        <div style="flex:1; align-items:center; text-align:center">

        <a class="listed" style="padding:10px; margin:0 auto"  href="http://www.sceniccaves.com/"> <img style="flex:1; max-width:500px; padding:10px; margin:0 auto" src="./partials/pictures/la4.webp" alt="scenic-caves">
        <p class="power-point">Scenic Caves Nature Adventures</p></a>
        <span class="listed">
        Scenic Caves Nature Adventures in Collingwood Ontario. Outdoor adventures, zip cable gliding eco tours, hiking on trails, suspension bridge and caves high on the Niagara escarpment.
        </span>
        </div>
        <div style="flex:1; align-items:center; text-align:center">
        <a class="listed" href="http://www.staynerchamber.ca/Visitors"><img style="flex:1; max-width:500px" src="./partials/pictures/la5.webp" alt="downtown-stayner">
        <p class="power-point">
        Downtown Stayner
      </p></a></div>
<div style="flex:1; align-items:center; text-align:center">

<a class="listed" href="http://www.sceniccaves.com/"> <img style="flex:1; max-width:500px" src="./partials/pictures/la4.webp" alt="scenic-caves">
<p class="power-point">Scenic Caves Nature Adventures</p></a>
<span class="listed">
Scenic Caves Nature Adventures in Collingwood Ontario. Outdoor adventures, zip cable gliding eco tours, hiking on trails, suspension bridge and caves high on the Niagara escarpment.
</span>
</div>
<div style="flex:1; align-items:center; text-align:center">
<a class="listed" href="http://www.staynerchamber.ca/Visitors"><img style="flex:1; max-width:500px" src="./partials/pictures/la5.webp" alt="downtown-stayner">
<p class="power-point">
Downtown Stayner
</p></a>
<span class="listed">
Take a stroll down the main street, through Stayner’s historic commercial district, where you can enjoy a hot coffee, a fresh cinnamon bun, and amazing antique & clothing shops. Stayner is known for its many parks and waterways, and its well-preserved Edwardian architecture.
</span>
</div>
<div style="flex:1; align-items:center; text-align:center">
<a class="listed" href="http://www.saintemarieamongthehurons.on.ca/sm/en/Home/"> <img style="flex:1; max-width:500px" src="./partials/pictures/la6.webp" alt="Sainte-Marie">
<p class="power-point">
Sainte-Marie among the Hurons (Midland)
</p></a>
<span class="listed">
Ontario’s first European Community, Sainte-Marie among the Hurons was the headquarters for the French Jesuit Mission to the Huron Wendat people. In 1639, the Jesuits, along with French lay workers, began construction of a fenced community that included barracks, a church, workshops, residences, and a sheltered area for Native visitors.
</span>
</div>
<div style="flex:1; align-items:center; text-align:center">
<a class="listed" href="http://martyrs-shrine.com/"><img style="flex:1; max-width:500px; " src="./partials/pictures/la7.webp" alt="">
<p class="power-point">
 Martyrs' Shrine (Midland)
</p></a>
<span class="listed">
The Martyrs’ Shrine is the National Shrine to the Canadian Martyrs. This holy and historic site honours the eight Jesuit Saints who lived, worked, and died here over 350 years ago.
</span>

</div>
</div>
</ul>
<div class="footer-container">
  <%- include partials/_footer %>
</div>


    </div>

  </body>
</html>
