<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Our Aircraft</title>
    <%- include partials/_mobile %>
<%- include partials/_bootStrap %>
  </head>
  <body>
    <%- include partials/_menu %>
    <div class="site-container">

      <div class="child-container">

        <h1 class="page-heading">OUR AIRCRAFT</h2>
        <img src="./partials/pictures/home31.jpg" alt="our-aircraft">
        <h2 class="power-point">SPORTSTAR MAX</h2>


<p class="literature">
The SportStar was the very first aircraft in the world approved by the United States FAA in the S-LSA category. The SportStar MAX was the next generation of SportStar’s:

Comfortable enough for business travel and maintaining the handling ease of a great trainer, made the SportStar MAX the holder of the prestigious “S-LSA Aircraft of the Year” honor from AeroNews Network (ANN). The aircrafts’ astounding handling qualities, stability, and operation reliability, matched with metal airframe benefits and low operational costs make the SportStar MAX popular in flight schools in more than 40 countries.</p>
</div>

<div class="child-container">
  <h2 class="power-point">
Uncompromising General Aviation Quality</h2>
<span class="literature">
The SportStar MAX uncompromising build quality and reliability is based on Evektor-Aerotechnik´s certified aircraft production by the European Aviation Safety Agency – EASA, LAMA certification, ISO 9001:2008 Quality Management System as well as over 40 years Evektor-Aerotechnik´s experience in aircraft production. This means that the airplane is assembled according to the very best of today´s General Aviation standards.
</span>
</div>

<div class="child-container">
  <h2 class="power-point">
Elegancy and All-round view
</h2>
<span class="literature">
The new ergonomic interior with eye-catching luxury, elegancy, and state-of-the art avionics provide a supreme comfort for your touring pleasure. Panoramic canopy glazing with almost 360º all-round view provides you a perfect situational awareness in all phases of your flight, including take-off and landing.
</span>
</div>

<div class="child-container">
  <h2 class="power-point">
Supreme Comfort & Outstanding Spaciousness
</h2>
<span class="literature">
The spacious cockpit has an amazing 46.5 inches (1.18 meters) of shoulder room, providing enough space even for large / tall pilots. Comfortable seating with high backrests
</span>
</div>
<p class="backgroundText">
The SportStar MAX has excellent flight characteristics, stability and outstanding control harmonies. The airplane passed extensive spin testing. The SportStar MAX operation reliability has been proven in flight schools in 40 countries worldwide, where the airplane is operated in different training programs, different climate conditions and also from grass and unpaved airfields. These excellent flight characteristics paired with low operation costs make the SportStar MAX the predominant choice for pilot training in flight schools worldwide.</p>
<div class="footer-container">
  <%- include partials/_footer %>
</div>
      </div>

  </body>
</html>
