<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Packages</title>
    <%- include partials/_mobile %>
<%- include partials/_bootStrap %>
  </head>
  <body>
<%- include partials/_menu %>
    <div class="site-container">
<h1 class="page-heading">Packages</h1>

      <div class="child-container">

<ul class="message">
  <span class="message">
Design your own adventure with this exciting flight. In addition to the introduction to flight you decide where you want to fly to. Do you want to fly over your house, fly over that memorable fishing cove? You decide! When you arrive at the airport, your flight instructor will help you chart the course and file the appropriate flight plan. In addition  to this special navigation lesson you will take home the pilot VNC map & Commemorative T-Shirt.
</span>

<li class="listed">
  <form class="" action="/pay" method="post">
           <div class="payPoint">
45 Minute flight (Air Time) <span class="number"> $185.00</span>
</div>
</form>
</li><li class="listed">
2 hour flight (Air Time) <span class="number"> $350.00</span>
<span class="added">
Best Value!
</span>
</li>
​<li class="listed">
Cottage Country Tour - <span class="number" name="cottage">$300.00</span>

Want to fly a plane over your cottage and wave to your family & guests? This one and a half hour intro to flight includes a pre-flight briefing, intro to the aircraft and one hour and thirty minute tour of Muskoka cottage country where you take control of the aircraft and complete your first flight. Included is an aerial picture of your cottage-Call for details

</li>
<li class="listed">
  <span class="power-point">
Wedding - Bachelor party and Bachelorette party Special
</span>
<p class="literature">
Take to the skies to celebrate your upcoming wedding with this truly unique and memorable wedding party special. This package includes a twenty minute flight for each member of the wedding party and a<span class="message"> FREE 20 Minute Flight</span> for the bride or groom. As a keepsake you will also receive an awesome wedding party photo in front of your plane and a complimentary tee shirt for the bride / groom.          ( Stag & Stagette )
</p>
</li>
</ul>
</div>
<div class="child-container">


<ul>
<span class="added">
Add-ons: Call all us for details or to customize this package. Some custom touches include:
</span>
<li class="listed">
Lunch or dinner at the Hangar Bar & Grill
</li>
<li class="listed">
GoPro Video Keepsake on a Flash Drive
</li>
<li class="listed">
18 Holes of Golf
</li>
<li class="listed">
Pampering at the Scandinave Spa
</li>
<li class="listed">
Ski package at Blue Mountain
</li>
</ul>
</div>
<img src="./partials/pictures/hang-over.jpg" style="width:74%;max-width:840px; padding:20px; margin:0 auto" alt="plane-package">
<div class="child-container">
  <ul>
<h2 class="list-heading">
Package Costs: Price is based on a per person basis.
</h2>
<p class="power-point">
<span class="message">The Bride or Groom is always</span><strong class="message"> FREE!</strong>
</p>
<li class="listed">
Minimum 3 people, plus bride or groom: <span class="number">$90.00 </span>per person
</li><li class="listed">
Minimum 5 people, plus bride or groom: <span class="number">$75.00</span> per person
</li><li class="listed">
Minimum 7 people, plus bride or groom: <span class="number">$60.00</span> per person
</ul>
</div>
<div class="footer-container">
  <%- include partials/_footer %>
</div>
      </div>

  </body>
</html>
