<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Paypal Payment</title>
  </head>
  <body>
    <form class="" action="/pay" method="post">
      <input type="submit" name="" value="buy">
    </form>
  </body>
</html>
