<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pilot Supply Kit</title>
    <%- include partials/_mobile %>
<%- include partials/_bootStrap %>
  </head>
  <body>
    <%- include partials/_menu %>
    <div class="site-container">

      <div class="child-container">
        <h1 class="page-heading">PILOT SUPPLY KIT</h1>

<ul class="vertGallery">
  <li class="listed">
XStream Flight Bag ($44.95)
</li>
<li class="listed">
Flight Trainning Manual ($19.95)
</li>
<li class="listed">
ASA Colour E-6b Flight computer ($47.95)
</li><li class="listed">
Jeppesen PJ-1 Plotter ($20.30)
</li><li class="listed">
ASA Kneeboard ($22.95)
</li><li class="listed">
Toronto VNC (Chart/Map) ($17.95)
</li><li class="listed">
Canada Flight Supplement ($19.95)</li><li class="listed">
Pilot Logbook ($19.95)</li><li class="listed">
Pilot Training Record ($4.95)</li>
</ul>
<p class="added">
Available for purchase (package)
at XStream - $189.99 +HST
Savings of $30
</p>
<div class="supplyKitPics">
  <img src="./partials/pictures/pilot-skk.jpg" alt="pilot-kit" class="psk-pic">
  <img src="./partials/pictures/pilot-skkk.jpg" alt="pilot-kit2" class="psk-pic">
  <img src="./partials/pictures/pilot-skkkk.jpg" alt="pilot-kit3" class="psk-pic">
  <img src="./partials/pictures/pilot-skkkkk.jpg" alt="pilot-kit4" class="psk-pic">
  <img src="./partials/pictures/pilot-sskkkkk.jpg" alt="pilot-kit5" class="psk-pic">
  <img src="./partials/pictures/pilot-sssk.jpg" alt="pilot-kit6" class="psk-pic">
  <img src="./partials/pictures/pilot-sssskkkk.jpg" alt="pilot-kit7" class="psk-pic">
</div>
      </div>
      <div class="footer-container">
        <%- include partials/_footer %>
      </div>
    </div>

  </body>
</html>
