<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pilot Supply Kit</title>
  </head>
  <body>
    <div class="site-container">
      <div class="child-container">
        <h1 class="page-heading">Pilot Supply Kit</h1>



PILOT SUPPLY KIT
PILOT SUPPLY KIT

XStream Flight Bag ($44.95)
Flight Trainning Manual ($19.95)
ASA Colour E-6b Flight computer ($47.95)
Jeppesen PJ-1 Plotter ($20.30)
ASA Kneeboard ($22.95)
Toronto VNC (Chart/Map) ($17.95)
Canada Flight Supplement ($19.95)
Pilot Logbook ($19.95)
Pilot Training Record ($4.95)


Available for purchase (package)
at XStream - $189.99 +HST
Savings of $30
      </div>

    </div>
  </body>
</html>
