<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rates</title>
    <%- include partials/_mobile %>
  </head>
  <body>
    <%- include partials/_menu %>
    <div class="site-container">
        <h1 class="page-heading">RATES</h1>
        <div class="child-container">
<strong class="power-point" style="text-align:center; align-items:center">Train at your own pace</strong>


          <div class="pictureContainer" style="margin: 0 auto; padding: 10px; text-align:center">




  <h2 class="power-point">Sportstar Max</h2>

<h3 class="listed">Dual Flight instruction</h3>     <strong class="number">$190.00/Hr</strong>

<h3 class="listed">Solo Instruction </h3>            <strong class="number">    $145.00/Hr</strong>
<span class="added">
+Hst

​

*Updated Dec 15  2018
</span>
​

   </div>
 </div>


<div class="child-container">


              <h2 class="power-point">Bulk Time Special</h2>

Dual Flight instruction/Flight Training

5 Hours -   <strong class="number">$900</strong>

10 Hours - <strong class="number">$1750</strong>
<span class="added">
+Hst
</span>
​
<span class="added">
*Note-Bulk rate is for dual training only,  Headset/equipment rental not included.

designed for the person who has their own headset.</span>
</div>



<div class="child-container">
  <ul class="list-heading"><li class="listed">
<h2 class="power-point">  XStream Dual 10 & 10  Air & Ground Package - </h2><span class="number">$2350.00</span> <span class="added">+Hst</span>       Savings of <span class="number">$279.00</span>
</li>
<li class="listed">
Pilot Supply kit (<span class="number">$229</span> value!)
</li>
<li class="listed">
Accelerated or self-paced schedules
</li>
<li class="listed">
Train in the Evektor Sports Star Max
</li>
<li class="listed">
10 Hours of Dual Instruction*
</li>
5 Hours pre and post briefings*
<li class="listed">
Ground School and Exam Prep, 30 hours (<span class="number">$450</span> value!)
</li>
<li class="listed">
Headset, GPS and equipment rentals
</li>
​</ul>

</div>
      <div class="child-container">
        <ul>
      <h2 class="list-heading">  XStream Pilot License Package for Beginners - <strong class="number">$4,850</strong> +Hst       <span class="power-point"> Savings of $519.00</span></h2>

<p class="power-point">If you have always dreamed of being a pilot and are ready to take your first adventure into the world of aviation, this is the package for you!</p>

​
<p class="added">
*Note- We recommend that you consider this package only after establishing a mutual comfortable relationship with us and you have considered all of your flight training options (Other training schools) and have come to the conclusion that we are a good fit for you.  In order to learn properly you must feel comfortable with us.  A good relationship between you and your instructor is paramount.
</p>
​

​
<li class="listed">
Pilot Supply kit ($229 value!)
</li>
<li class="listed">

Self-paced schedules
</li>
<li class="listed">
Train in the Evektor Sports Star Max
</li>
<li class="listed">
5 Hours of Solo time*
</li>
<li class="listed">
20 Hours of Dual Instruction*
</li>
<li class="listed">
10 Hours pre and post briefings*
</li>
<li class="listed">
Ultralight Ground School and Exam Prep, 30 hours ($450 value!)
</li>
<li class="listed">
Headset, GPS and equipment rentals
</li>
<li class="listed">
1 hours aircraft rental when you receive your license
</li>
</ul>
      </div>
      <div class="footer-container">
<%- include partials/_footer %>
      </div>

  </body>
</html>
