<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rentals</title>
  </head>
  <body>
    <div class="site-container">
      <div class="child-container">
        <h1 class="page-heading">Rentals</h1>
        RENTALS
Coming Soon............


Evektor Sportstar Max – 100 horsepower Rotax 912ULS, leather seats, 36 gallons (120L) usable fuel, 720nm range, GPS with color moving map, 2 place intercom, dual VHF nav/com iCom 220 radio, 2 axes auto pilot, Mode S Transponder, Dual Dynon multi-function displays.

$145.00/Hr
      </div>

    </div>
  </body>
</html>
