<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rentals</title>
    <%- include partials/_mobile %>
<%- include partials/_bootStrap %>
  </head>
  <body>
        <%- include partials/_menu %>
    <div class="site-container">

      <div class="child-container">
        <h1 class="page-heading">RENTALS</h1>
      <strong class="power-point">
Coming Soon............
</strong>
<div class="gallery">
  <img src="./partials/pictures/rent.jpg" alt="rental-plane" class="rent-gallery">
  <img src="./partials/pictures/rent2.jpg" alt="rental-plane-canada" class="rent-gallery">
</div>
<h2 class="message">Evektor Sportstar Max </h2>
<p class="literature"> 100 horsepower Rotax 912ULS, leather seats, 36 gallons (120L) usable fuel, 720nm range, GPS with color moving map, 2 place intercom, dual VHF nav/com iCom 220 radio, 2 axes auto pilot, Mode S Transponder, Dual Dynon multi-function displays.
</p>
<strong class="number">
$145.00/Hr
</strong>
      </div>
      <div class="footer-container">
        <%- include partials/_footer %>
      </div>
    </div>

  </body>
</html>
