<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rotax Service</title>
    <%- include partials/_mobile %>
<%- include partials/_bootStrap %>
  </head>
  <body>
    <%- include partials/_menu %>
    <div class="site-container">
<h1 class="page-heading">Rotax</h1>
      <div class="child-container" style="flex:1; align-items:center; text-align:center">
        <img src="./partials/pictures/home-rotax.jpg" style="flex:1; max-width:500px; padding:10px; margin:0 auto" alt="Independant-ROTAX-Maintenance-Technician">
        <img src="./partials/pictures/rotax-blue.jpg" style="flex:1; max-width:500px; padding:10px; margin:0 auto" alt="Independant-ROTAX-Maintenance-Technician">
<h1><strong class="number">705-999-3221</strong></h1>
        <p><span class="list-heading">Rotax 912 Service and Maintenance</p>
          <p class="message">Bing Carburetor</p>
          <p class="message">Carburetor Balancing</p>
          <p class="message">Compression testing</p>
          <p class="message">Rotax 100 HR inspection</p>
          <p class="message">Gearbox inspection</p>
          <p class="message">Oil change, oil system purge</p>
          <p class="message">& More</p>
        </ul>
        <img src="./partials/pictures/rotax-engine.jpg" style="flex:1; max-width:500px; padding:10px; margin:0 auto" alt="912uls-engine">
      </div>
      <div class="child-container">
        <div class="gallery">

        <img class="circleImage" style="width:350px" src="/partials/pictures/rotax-pa2.jpg" alt="Airplane Parts">
            <img class="circleImage" style="width:350px" src="/partials/pictures/rotax-pa4.jpg" alt="Plane Accessories">
        <img class="circleImage" style="width:350px" src="/partials/pictures/rotax-pa3.jpg" alt="Plane Parts">
              <img class="serviceGallery" style="flex:1; max-width:600px" src="/partials/pictures/rotax-pa1.jpg" alt="Aviator">

      </div>
        </div>
      <div class="footer-container">
        <%- include partials/_footer %>
      </div>
    </div>

  </body>
</html>
