<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rotax Service</title>
    <%- include partials/_mobile %>

  </head>
  <body>
    <%- include partials/_menu %>
    <div class="site-container">

      <div class="child-container">
        <img src="./partials/pictures/iRMTblue.webp" alt="Independant-ROTAX-Maintenance-Technician">
        <ul><span class="list-heading">Rotax 912 Service and Maintenance</span>
          <li class="listed">Bing Carburetor</li>
          <li class="listed">Carburetor Balancing</li>
          <li class="listed">Compression testing</li>
          <li class="listed">Rotax 100 HR inspection</li>
          <li class="listed">Gearbox inspection</li>
          <li class="listed">Oil change, oil system purge</li>
          <li class="listed">& More</li>
        </ul>
        <img src="./partials/pictures/912uls.webp" alt="912uls-engine">
      </div>
    </div>
  </body>
</html>
