<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Services</title>
    <%- include partials/_mobile %>
    <%- include partials/_menu %>
  </head>
  <body>
    <div class="site-container">
      <div class="child-container">
        <h1 class="page-heading">Services</h1>
        ICES
Do you have a Ultralight, Light sport or AULA that you need flown from one location to another.  At XStream we offer ferry services of an any type of small aircraft, from any location in North America.

Train in your own plane
Do you have your own plane?

Feeling a little rusty?

Need to build your confidence?

Want to save some money?

​

We can help.

Our experienced instructors can train with you in your own plane
      </div>

    </div>
  </body>
</html>
