<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Services</title>
    <%- include partials/_mobile %>

  </head>
  <body>
    <div class="site-container">
          <%- include partials/_menu %>
      <div class="child-container">
        <h1 class="page-heading">Services</h1>
        <span class="message">FERRY SERVICES</span>
        <p class="power-point">
Do you have a Ultralight, Light sport or AULA that you need flown from one location to another.  At XStream we offer ferry services of an any type of small aircraft, from any location in North America.
</p>
<div class="gallery">


<img class="serviceGallery" src="./partials/pictures/serv5.webp" alt="pick-up-plane">
<img class="serviceGallery" src="./partials/pictures/serv4.webp" alt="pick-up-plane">
<img class="serviceGallery" src="./partials/pictures/serv3.webp" alt="pick-up-plane">
<img class="serviceGallery" src="./partials/pictures/serv2.webp" alt="pick-up-plane">
<img class="serviceGallery" src="./partials/pictures/serv.webp" alt="pick-up-plane">
</div>
<p class="message">
Train in your own plane
</p>
<ul><li class="listed">
Do you have your own plane?</li>
<li class="listed">
Feeling a little rusty?</li>
<li class="listed">
Need to build your confidence?</li>
<li class="listed">
Want to save some money?
</li>
</ul>
​
<strong class="power-point">
We can help.
</strong>
<span class="message">
Our experienced instructors can train with you in your own plane
</span></div>

    </div>
  </body>
</html>
