<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Student Rentals</title>
    <%- include partials/_mobile %>

  </head>
  <body>
      <%- include partials/_menu %>
    <div class="site-container">

      <div class="child-container">
        <h1 class="page-heading">Student Rentals</h1>
        VFR Phraseology
        Precautionary landings
        There are a number of reasons.  You may have a sick passenger on board, the weather may be a cause of concern.   There may be something that you are concerned with, such as an engine that is acting up, you may be getting low on fuel and think you may not make it much further. In any case, the landing is done to avoid a potentially worsening situation and is done so while engine power is available.  The sooner the landing area is selected the better once a precautionary landing has been decided.  Quite simply, a precautionary landing is completed in two basic steps:

        1)  A low pass flown like a circuit over the potential landing area, this is done to inspect the surface for suitability,

        ​

        and

        ​

        2) A normal circuit flown to end in a safe landing.

        ​

        There are two basic procedures, one for a controlled airport and one for an uncontrolled airport. In the case where a field is selected, this is obviously uncontrolled.  This is what I have been practicing on.  When we arrive at the practice area, which is the Farm area just west of Elmvale,  we broadcast our intentions for the exercise then proceed to look for a field we can “land” on.



        Starting Point for Precautionary Landing.

        ​

        We find a field and enter a normal circuit approach. The goal is to make two passes: a high pass and a low pass to judge the suitability of the field for landing.

        ​

        In an uncontrolled field, such as a farmer’s field, we make a high pass at 1000′ AGL and in a controlled field like an aerodrome we do this at 1500′.   Our high pass is done at cruise settings, 90 knots in the Sportstar.  We fly the normal circuit at 1000′ and then overshoot.

        ​

        Then we do the “3 Ps“:

        ​

        (1) Pan Pan call: alert traffic in the area that we are preparing for a precautionary landing.  We say “Pan Pan” three times and say our aircraft identifier (for example, IIAH, ICRH, and so on) three times.

        ​

        (2) Passenger brief. Let your passengers know what you will be doing, to stay calm, to put their hands free of the controls.  Then:

        ​

        (3) We do our Pre-landing checks.

        Then we do the low pass. This is done 500′ AGL or whatever altitude is best for inspecting the landing area. In the Sportstar, we fly at 60 knots with 30 degree flap.   The slower speed will allow for better inspection of the field, and the flaps will allow for better forward visibility. The speed is also not too slow – that is it’s not in the slow flight range – which will allow the pilot to focus on observing the field rather than maneuvering the airplane. We also want to prevent getting close to a stall.



        Precautionary Landing Procedure. Image Courtesy of mpaviation.com
</div>
    <div class="child-container">

     ​
<img src="./partials/pictures/sr.webp" alt="">
        ​  </div>
<div class="child-container">


        On our observation of the field, we want to do our “COWLS” check, for suitability in landing:

        ​

        C = Civilization: are there homes, buildings, or people nearby?

        O = Obstacles: are there any obstacles that need to be cleared, such as powerlines, or trees?

        W = Wind: always try to land into the wind if possible. Look for indicators on the ground: direction of smoke, direction of long grass, trees, etc.  Is smoke trailing upwards (calm winds), being blown slightly (gentle winds) or rapidly breaking off (strong winds)?

        L = Length: once we are abeam the threshold, we count how many seconds it takes us to fly the length of the field. This is why we use 60 knots at 30 degree flap in the Sportstar: if we count the seconds it takes to fly that length, we can estimate the approximate length of the field.

        On the low pass, 500′ AGL, abeam the threshold, we start the timer. If it’s 20 seconds, the length is 2000′, (20 * 100); if it takes 33 seconds, the length is 3300′, (33 * 100)  and so on.

        S = Surface: Check the suitability of the surface for landing. For example, are there ruts in the ground, or is the surface smooth? Is the surface grass or dirt?

        ​

        Once our high and low passes are completed, we establish for a normal approach with full flaps.
      </div>
      <div class="footer-container">
        <%- include partials/_footer %>
      </div>
    </div>

  </body>
</html>
