<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Student Rentals</title>
    <%- include partials/_mobile %>
    <%- include partials/_menu %>
  </head>
  <body>
    <div class="site-container">
      <div class="child-container">
        <h1 class="page-heading">Student Rentals</h1>

      </div>

    </div>
  </body>
</html>
