<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Success and Achievements</title>
    <%- include partials/_mobile %>
<%- include partials/_bootStrap %>
  </head>
  <body>
    <%- include partials/_menu %>
    <div class="site-container">

<div class="child-container">
  <h1 class="page-heading">Success and Achievements</h1>
<ul class="vertGallery">

  <img class="serviceGallery" src="./partials/pictures/sa-aircraft.webp" alt="aircraft">
<li class="literature">
  Congratulations!  Kirk M.
First Solo Flight!
December 12, 2018
Midland / Huronia Airport
</li>

<img class="serviceGallery" src="./partials/pictures/orang-plane.webp" alt="orange-plane">
<li class="literature">
Congratulations!  Marvin K.
First Solo Flight!
November 04, 2018
Edenvale Aerodrome
</li>

<img class="serviceGallery" src="./partials/pictures/black-hoodie.webp" alt="plane-student">
<li class="literature">
Congratulations!  Brian R.
First Solo Flight!
May 04, 2017
Midland / Huronia Airport
</li>

<img class="serviceGallery" src="./partials/pictures/winter-plane.webp" alt="plane-flight-training">
<li class="literature">
Congratulations!  Randy L.
First Solo Flight!
February 20, 2017
Edenvale Aerodrome
</li><p class="list-heading">
For privacy reasons, Only students that agree to web posting presented on this page.  Not reflective of actual number of training success's
</p>
</ul>

</div>
<div style="flex:1">
  <%- include partials/_footer %>
</div>
    </div>

  </body>
</html>
