<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Success and Achievements</title>
  </head>
  <body>
    <div class="site-container">
<div class="child-container">
  <h1 class="page-heading">Success and Achievements</h1>
  Congratulations!  Kirk M.
First Solo Flight!
December 12, 2018
Midland / Huronia Airport

IMG_3996.jpg

Congratulations!  Marvin K.
First Solo Flight!
November 04, 2018
Edenvale Aerodrome
IMG_3811.JPG

Congratulations!  Brian R.
First Solo Flight!
May 04, 2017
Midland / Huronia Airport

Congratulations!  Randy L.
First Solo Flight!
February 20, 2017
Edenvale Aerodrome

For privacy reasons, Only students that agree to web posting presented on this page.  Not reflective of actual number of training success's
HOME
INTRO TO FLIGHT
FLIGHT TRAINING
OUR AIRCRAFT
ROTAX SERVICE
ABOUT US
CONTACT

</div>
    </div>
  </body>
</html>
