/* li{

font-size:40px;
flex-basis: 12%;
font-family: sans-serif;
padding: 2px
} */
/* .mainMenuContainer{
  display: flex;
  flex-direction: column;
  width: 1000px;
} */
img{flex:1;width:100%}
body{
display: flex;
}
.listed{
  flex: 1;
  font-weight: bold;
  color: silver
}
.power-point{
  flex-basis: 100%;
  color: orange
}

.site-container{
  display: flex;
  background-image: url("./pictures/apsteal.jpg");
  background-repeat: no-repeat;
    background-size: cover;
  flex-direction: column;
  width:100%;
  align-items: center;
  top: 22px
}
.child-container{
  background-image: url("./pictures/home2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  margin:10px;
  padding:10px;
  width: 80%;
  flex: 2;

  padding: 10px;
  border: 2px black dotted;

}
ul li .listed{

}
/* ul .sub{
  display: none;

} */
.mainMenu{
  color: silver;
  position: fixed;
  width: 100%
}
.mainMenu ul{
  color:silver;
  display: flex;
}
.mainMenu li :hover {
  background-color: pink;

}
.mainMenu ul li ul{
  flex-direction: column;
}
.mainMenu ul li .sub{
  display: none;
  color:silver;

}
strong {
  color: blue;
  font-size: 1.5em;
  text-shadow: .5;
}
@media (max-width:800px){

  .mainMenu {
    display: none;
}

  #menuCollapsed {
    display:flex;
}

  #shrunkMenu{
    flex:1;
    width: 100%;
    font-size: .5em;
   height:100px;
   position: fixed;
   padding:1px;
    background-image: url('/partials/pictures/menu.png');
  z-index: 1
  }

   .smallMainMenu {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 100%;
    height:130px;

    text-shadow: 0.01px 0.01px 0px #7CACDE;
    box-shadow: 0.01px 0.01px 0.01px #BEE1CA;
    padding: .01px .030px;
    margin: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #475780;
    background: linear-gradient(top, #63B8EE, #CCBBE1);
    background: -ms-linear-gradient(top, #63B8EE, #BBC6E1);
   }
   .smallMainMenu a {
    flex:1;
    color: silver;
    text-decoration: none;
      flex-basis: 100%;
    font-size: .8em;
    letter-spacing: .2em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border-bottom: 1px dotted gray;
    text-align: center;
    clear: both; }
   .smallMainMenu li ul {
    color: silver;
    text-align: center; }

    .smallMainMenu ul li ul{
      flex-direction: column;
    }
    .smallMainMenu ul li ul .drop-down{
      display: none;
      color:silver;
    }
  #closed {
    display: none;
    position: relative;
    background-color: #475780; }
  }

  @media (min-width:800px){
    #menuCollapsed {
      display: none;
      width: 100%;
      height:auto;
      font-size: 1.8em;
     height:25px;
     padding:28px;
      z-index: 5;
      background-image: url('/partials/pictures/menu.png'); }
.mainMenu{
  background-color: black;
  display:flex;
  flex-direction: column;
  width: 100%;
  flex-basis: 40%;
  text-align: center;
  font-family: sans-serif;
  color: white;
  flex-direction: row;
  align-items: center;
  height: 150px;
}

.mainMenuContainer .sub{
  display: none;
  color:silver;
}
.sub {
flex-direction: column;
}
#menu{
  flex:1;
  flex-basis: 100%;
  padding-right: 15px;
  padding-left: auto;
  color: white
}
    /* menuControls */
    #closed{
      display:none;

      background-color: $white;
    }
    .smallMainMenu {
      display: none }

       .smallMainMenu a {
        display: none
    }
       .smallMainMenu li ul {
        display:none
  }

  }
